<nav>
  <div class="navbar flex align-center justify-space-between">
    <img src="assets/svg/logo.svg" alt="">

    <div>
      <ul class="flex align-center">
        <li>
          <a href="#">Business</a>
        </li>
        <li>
          <a href="#">Card</a>
        </li>
        <li>
          <a href="#">Security</a>
        </li>
        <li>
          <a href="#">Sign up</a>
        </li>
        <li>
          <a href="#">Sign in</a>
        </li>
        <li>
          <span class="flex align-center">
            <img src="assets/svg/language-icon.svg" alt="">
            EN
            <img src="assets/svg/dropdown-icon.png" alt="">
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
