<nav>
  <div class="navbar flex align-center justify-space-between">
    <img src="assets/svg/logo.svg" alt="">

    <div>
      <ul>
        <li>
          <a href="#">Business</a>
        </li>
        <li>
          <a href="#">Card</a>
        </li>
        <li>
          <a href="#">Security</a>
        </li>
        <li>
          <a href="#">Sign up</a>
        </li>
        <li>
          <a href="#">Sign in</a>
        </li>
        <li>
          <span>
            <img src="assets/svg/language-icon.svg" alt="">
            EN
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
