<nav>
  <div class="navbar flex align-center justify-space-between">
    <img src="assets/svg/logo.svg" alt="">

    <span (click)="handleOpenDropdown()" class="mobile-show-only">
      <img src="assets/svg/menu-icon.svg" alt="">
    </span>

    <div class="mobile-list-wrapper mobile-hide" id="dropdown_menu">
      <ul class="flex align-center mobile-flex-column mobile-justify-space-between">
        <li>
          <a href="#">Business</a>
        </li>
        <li>
          <a href="#">Card</a>
        </li>
        <li>
          <a href="#">Security</a>
        </li>
        <li>
          <a href="#">Sign up</a>
        </li>
        <li>
          <a href="#">Sign in</a>
        </li>
        <li>
          <span class="flex align-center">
            <img src="assets/svg/language-icon.svg" alt="">
            EN
            <img src="assets/svg/dropdown-icon.png" alt="">
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
