<section class="container flex align-center justify-space-between mobile-align-start">
  <div class="flex flex-column justify-center mobile-align-center mobile-justify-start">
    <h2 class="mobile-text-align-center">
      Send money quickly,
      <br>
      easily, and fast.
    </h2>

    <button class="primary-button signup-button" (click)="handleOpenModal()">Sign up</button>

    <div class="marketplace-wrapper flex align-center">
      <img src="assets/svg/appstore.svg" alt="">
      <span></span>
      <img src="assets/svg/googleplay.svg" alt="">
    </div>
  </div>

  <div class="app-screen-wrapper flex align-center justify-center mobile-hide">
    <span>
      <img src="assets/images/app-screen.png" class="app-screen" alt="">
    </span>
  </div>

  <app-modal class="hhidden" id="login_modal" (closeEmit)="handleCloseModal()"></app-modal>
</section>
