<section class="container flex align-center justify-space-between">
  <div class="flex flex-column justify-center">
    <h2>
      Send money quickly,
      <br>
      easily, and fast.
    </h2>

    <button class="primary-button signup-button" (click)="showDialog()">Sign up</button>

    <div class="marketplace-wrapper flex align-center justify-between">
      <img src="assets/svg/appstore.svg" alt="">
      <span></span>
      <img src="assets/svg/googleplay.svg" alt="">
    </div>
  </div>

  <div class="app-screen-wrapper flex align-center justify-center">
    <span>
      <img src="assets/images/app-screen.png" class="app-screen" alt="">
    </span>
  </div>

  <app-modal id="login_modal" class="hhidden">
    <app-login-form (closeEvent)="closeDialog()"></app-login-form>
  </app-modal>
</section>
