section.container {
  height: 100%;

  background: var(--secondary);

  padding: 50px 100px 0;

  h2 {
    font-size: 2.9em;
    font-weight: 300;
  }
}

button.signup-button {
  width: 250px;
  height: 50px;

  margin: 50px 0;

  border-radius: 4px;

  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;

  color: white;
  background: var(--primary);
  cursor: pointer;

  &:hover {
    background: var(--primary-hover);
  }

  &:active {
    transition: opacity 0.2s;
    opacity: 0.6;
  }
}

div.marketplace-wrapper {
  opacity: 0.6;

  img {
    cursor: pointer;
  }

  > span {
    width: 2px;
    height: 50px;
    margin: 0 30px;
    background: var(--gray);
  }
}

div.app-screen-wrapper {
  margin-right: 50px;

  > span {
    height: 660px;
    width: 350px;
    background: url("../../../assets/images/phone-bg.png") no-repeat;
    background-size: cover;
    border-radius: 40px;
    box-shadow: 1px 2px 7px var(--gray);
    padding: 59px 18px;
  }

  img {
    height: 100%;
    width: 100%;
  }

  @media only screen and (min-width: 1030px) and (max-width: 1366px) {
    margin-right: 60px;

    > span {
      height: 510px;
      width: 270px;
      padding: 45.5px 14px 45.2px;
      padding-right: 13px;
    }
  }
}

// this makes the .modal visible
.sshow {
  display: block;
}

// this makes the element hidden/invisible
.hhidden {
  display: none;
}

/* ----------- Google Pixel ----------- */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3),
  (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4),
  (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3),
  (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4),
  (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2),
  (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  section.container {
    padding: 30px 30px 0;
  }

  div.card {
    width: 90%;

    + div {
      margin-left: 0;
      margin-top: 20px;
    }

    img {
      max-height: 57px;
    }
  }
}
