<section class="container flex align-center justify-space-between">
  <div class="flex flex-column justify-center">
    <h2>
      All Your Payment
      <br>
      Methods in
      <br>
      <span>One Account</span>
    </h2>

    <p>
      Make payments and withdraw funds with a simple,
      <br>
      quick and secure way which includes instant
      <br>
      banking.
    </p>
  </div>

  <div class="dashboard-screen-wrapper flex justify-center">
    <img src="assets/images/dashboard-preview-1.png" class="app-screen" alt="">
  </div>
</section>
