<section class="container flex align-center justify-space-between">
  <div class="flex flex-column justify-center">
    <h2 class="mobile-text-align-center">
      All Your Payment
      <br>
      Methods in
      <br>
      <span>One Account</span>
    </h2>

    <p class="mobile-text-align-center">
      Make payments and withdraw funds with a simple,
      <br class="mobile-hide">
      quick and secure way which includes instant
      <br class="mobile-hide">
      banking.
    </p>
  </div>

  <div class="dashboard-screen-wrapper flex justify-center mobile-hide">
    <img src="assets/images/dashboard-preview-1.png" class="app-screen" alt="">
  </div>
</section>
