div.content {
  display: grid;

  grid-template-columns: auto;
  grid-template-rows: 75px auto;

  height: 100vh;

  > header {
    z-index: 3;
  }

  > main {
    max-height: 100%;
    overflow-y: auto;
  }
}
