<section class="container flex align-center justify-space-between">
  <div class="flex flex-column justify-center">
    <ul class="footer-list">
      <li>
        <a href="#">About us</a>
      </li>
      <li>
        <a href="#">Support</a>
      </li>
      <li>
        <a href="#">Terms and conditions</a>
      </li>
      <li>
        <a href="#">Contact us</a>
      </li>
      <li>
        <a href="#">Faq</a>
      </li>
      <li>
        <a href="#">Privacy policy</a>
      </li>
      <li>
        <a href="#">Aml policy</a>
      </li>
    </ul>

    <div class="flex">
      <span class="tag">JetonCARD</span>
      <span class="tag">JetonPAY</span>
    </div>

    <p>©2019 Urus London LTD | 131 Finsbury Pavement, London EC2A 1NT United Kingdom</p>
  </div>
  <div class="flex align-center justify-center">
    <button class="signin-button">
      Sign in
    </button>
  </div>
</section>
