<section class="container flex justify-space-between">
  <div class="flex flex-column">
    <h2>
      Just like real cash, but better.
    </h2>

    <div class="description-item flex align-center">
      <img src="assets/svg/icon-fast.svg" alt="">
      <span class="flex flex-column justify-center">
        <strong>
          Jeton is fast
        </strong>
        <p>
          Instant deposit and balance updates.
        </p>
      </span>
    </div>

    <div class="description-item flex align-center">
      <img src="assets/svg/icon-easy.svg" alt="">
      <span class="flex flex-column justify-center">
        <strong>
          Jeton is easy
        </strong>
        <p>
          Instant deposit and balance updates.
        </p>
      </span>
    </div>

    <div class="description-item flex align-center">
      <img src="assets/svg/icon-use.svg" alt="">
      <span class="flex flex-column justify-center">
        <strong>
          Jeton is free
        </strong>
        <p>
          Open Jeton account form free.
        </p>
      </span>
    </div>
  </div>

  <div>
    <div class="card flex flex-column align-center">
      <h3>Business Account</h3>

      <img src="assets/svg/icon-bank.svg" alt="">

      <p>
        Jeton allows
        you to request payments
        for good and services that you have
        provided. The Simple pricing makes
        this account efficient to your business,
        and easy to access for your customers.
      </p>

      <button class="use-button">
        Use for business
      </button>
    </div>
  </div>
</section>
