/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

*,
button,
input {
  border: 0;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

:root {
  --primary: #4984ef;
  --primary-hover: #336fd6;
  --secondary: #fafbfe;
  --tertiary: #fafafa;
  --gray: #bbbcbf;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}
