/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
}

*,
button,
input {
  border: 0;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

:root {
  --primary: #4984ef;
  --primary-hover: #336fd6;
  --secondary: #fafbfe;
  --tertiary: #fafafa;
  --quaternary: #f7f7f7;
  --gray: #bbbcbf;
  --darkgray: #333333;
  --darkgray-hover: #292929;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

// mobile classes

.mobile-show-only {
  display: none;
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3),
  (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4),
  (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3),
  (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4),
  (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2),
  (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .mobile-hide {
    display: none;
  }

  .mobile-hide {
    display: none;
  }

  .mobile-hide {
    display: none;
  }

  .mobile-flex-column {
    flex-direction: column;
  }

  .mobile-align-center {
    align-items: center;
  }

  .mobile-text-align-center {
    text-align: center;
  }

  .mobile-justify-start {
    justify-content: flex-start;
  }

  .mobile-align-start {
    align-items: flex-start;
  }

  .mobile-show-only {
    display: initial;
  }
}
